


/*==========  Overwriting Foundation variables goes before including foundation itself.
			  See settings.scss from Foundation for examples ==========*/

$primary-color: #B65555;
$white-text-color: white;
$black-text-color: black;
$gray-text-color: lighten($black-text-color, 50%);
$black-bg: black;
$gray-bg: rgba($black-bg, .05);

$body-font-family: "futura-pt", sans-serif;
// $font-weight-normal: 100;
$base-font-size: 15px;
$rem-base: $base-font-size;

* {-webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

$tabbar-menu-icon-color: $primary-color;

// $reveal-modal-bg: rbga(0, 0, 0, 1);
$reveal-close-color: $white-text-color;
$reveal-close-font-size: 4em;




/*==========  Import Foundation Components - REMOVE what you don't use to keep the CSS as little as possible  ==========*/


@import
  "bower_components/foundation/scss/foundation/components/grid",
  "bower_components/foundation/scss/foundation/components/accordion",
  "bower_components/foundation/scss/foundation/components/alert-boxes",
  "bower_components/foundation/scss/foundation/components/block-grid",
  "bower_components/foundation/scss/foundation/components/breadcrumbs",
  "bower_components/foundation/scss/foundation/components/button-groups",
  "bower_components/foundation/scss/foundation/components/buttons",
  "bower_components/foundation/scss/foundation/components/clearing",
  "bower_components/foundation/scss/foundation/components/dropdown",
  "bower_components/foundation/scss/foundation/components/dropdown-buttons",
  "bower_components/foundation/scss/foundation/components/flex-video",
  "bower_components/foundation/scss/foundation/components/forms",
  "bower_components/foundation/scss/foundation/components/inline-lists",
  "bower_components/foundation/scss/foundation/components/joyride",
  "bower_components/foundation/scss/foundation/components/keystrokes",
  "bower_components/foundation/scss/foundation/components/labels",
  "bower_components/foundation/scss/foundation/components/magellan",
  "bower_components/foundation/scss/foundation/components/orbit",
  "bower_components/foundation/scss/foundation/components/pagination",
  "bower_components/foundation/scss/foundation/components/panels",
  "bower_components/foundation/scss/foundation/components/pricing-tables",
  "bower_components/foundation/scss/foundation/components/progress-bars",
  "bower_components/foundation/scss/foundation/components/range-slider",
  "bower_components/foundation/scss/foundation/components/reveal",
  "bower_components/foundation/scss/foundation/components/side-nav",
  "bower_components/foundation/scss/foundation/components/split-buttons",
  "bower_components/foundation/scss/foundation/components/sub-nav",
  "bower_components/foundation/scss/foundation/components/switch",
  "bower_components/foundation/scss/foundation/components/tables",
  "bower_components/foundation/scss/foundation/components/tabs",
  "bower_components/foundation/scss/foundation/components/thumbs",
  "bower_components/foundation/scss/foundation/components/tooltips",
  "bower_components/foundation/scss/foundation/components/top-bar",
  "bower_components/foundation/scss/foundation/components/type",
  "bower_components/foundation/scss/foundation/components/offcanvas",
  "bower_components/foundation/scss/foundation/components/visibility";




// må komme etter foundation pga rem-calc
$section-padding: rem-calc(15);








/*=================================================================  

	Do your SASS awesomeness here! Goodspeed young traveler :)

=================================================================*/



h1, h2, h3, .menu, .button, .header-page-info .fagomrader a, .ring-oss-label {text-transform: uppercase; letter-spacing: rem-calc(1);}

main.main h2 {
  font-size: rem-calc(22);
  @media #{$medium-up} { font-size: rem-calc(26);}
}






/*==========  General styling  ==========*/



.p1-divider {
  background: url("../img_min/divider-white.svg");
  display: inline-block;
  height: 16px;
  width: 23px;
  margin: $section-padding * 2 0;
}


main.main {
  padding-top: $section-padding;

  @media #{$medium-up} {
    margin-top: $section-padding * 4;
  }

}

body.home main.main {padding-bottom: 0;}

@media #{$medium-up} {
  body.single-prosjekt main.main {padding-bottom: $section-padding * 4;}
}




hr {
  border-color: rgba(white, .2);
}




/*==========  List style  ==========*/

ul {
  list-style-image: url("../img_min/divider-black.svg");
  margin-left: $section-padding * 2;
}








/*==========  buttons  ==========*/

.p1-button-dark {
  // @include button(0, null, false);
  padding-top: rem-calc(12);
  padding-bottom: rem-calc(12);
  border: 1px solid $primary-color;
  color: $primary-color;
  min-width: 100%;
  background: transparent;
  // transition: none;

  &:hover {
    border-color: transparent;
  }
}










/*==========  Top  ==========*/

header.top {
  // background: black;
  padding: $section-padding 0;

  h1 a img {
    width: 200px;
    height: auto;

    @media #{$medium-up} {width: 250px;}
  }
  
  nav.tab-bar {
    background: none;
    
    .menu-icon {
      height: rem-calc(60); width: rem-calc(60);

      span:after {
        width: rem-calc(30);
        box-shadow: 0 0 0 2px $primary-color,0 10px 0 2px $primary-color,0 20px 0 2px $primary-color;
      }
    } 
  }
}


// @media #{$large-up} {

//   #fixed-top {
//     height: auto !important; // skriver over paralax greier
//     .top {
//       position: fixed;
//       top: 0;
//       width: 100%;
//       z-index: 999;
//     }

//     .header-page-info { margin-top: $section-padding * 6;}
//   }

// }







/*==========  Front page  ==========*/

body.home header.top h1 a img {
  width: 100px;
  @media #{$medium-up} {width: 150px;}
  @media #{$large-up} {width: 250px;}
  margin-top: 15px;
  height: auto;
}

.header-page-info {
  ol {
    list-style: none; margin: 0; padding: 0;
    margin-top: $section-padding;
    @media #{$medium-up} {margin-bottom: $section-padding * 4;}
    li {
      margin-bottom: $section-padding;
        a {
        color: $white-text-color;
        font-size: rem-calc(20);
      }
    }
  }
}








.contact-block {
  background: $black-bg;
  text-align: center;
  color: $white-text-color;
  padding: $section-padding 0;
  // margin-top: $section-padding;

  @media #{$medium-up} {
    padding: $section-padding * 4 0;
  }
}


.kunngjoring-block {

  @media #{$medium-up} {
    background: $gray-bg;
    padding: $section-padding * 4 0;
  }

  article {
    padding-top: $section-padding;
    @media #{$small-only} {
      background-color: $gray-bg;
      &:nth-child(odd) {background-color: lighten($gray-bg, 50%); }
    }

    h2.entry-title {
      font-size: rem-calc(16);
      @media #{$medium-up} { font-size: rem-calc(24);}
      margin-bottom: $section-padding / 4;
      // background: url("../img_min/divider-black.svg") top right no-repeat;
    }
  }
}



.entry-meta {
  font-size: rem-calc(14);
  color: $gray-text-color;
}


.kunngjoring-archive {
  padding-top: $section-padding * 2;
}

.kunngjoring {
  margin-bottom: $section-padding * 2;
  padding-bottom: $section-padding * 2;
  border-bottom: 1px solid $gray-bg;
  @media #{$medium-up} {
    margin-bottom: $section-padding * 4;
    padding-bottom: $section-padding * 4;

    p, .lesmer {
      font-size: rem-calc(18);
    }
  }

  &:last-child {
    padding-bottom: 0; border-bottom: 0;
  }
  .entry-title {
    font-size: rem-calc(24);
    @media #{$medium-up} { font-size: rem-calc(32); }
  }
}

body.single-post .kunngjoring {
  margin-bottom: 0; padding-bottom: 0; border: 0;
}

body.home {
  @media #{$small-only} {
    .kunngjoring-archive {
      padding-top: 0; 

      .columns {
        padding: 0;

        article {
          margin: 0;
          padding-bottom: $section-padding;
          padding-left: $section-padding;
        }
      }
    }
  }

  
    @media #{$medium-up} {
      .kunngjoring {
        padding-bottom: $section-padding * 2;
        margin-bottom: $section-padding * 3;
      }
    }
  .kunngjoring:last-child {margin-bottom: 0; }


}








/*==========  Sidebar  ==========*/




.sidebar {
  margin-top: $section-padding;
  padding-bottom: $section-padding * 2;
  border-top: 1px solid $gray-bg;
  padding-top: $section-padding * 2;

  @media #{$medium-up} {
    margin-top: $section-padding * 4;
    padding-top: $section-padding * 5;
    padding-bottom: $section-padding * 4;
  }
}

.widget_recent_entries ul {
  margin-left: rem-calc(15);
   li {
    span, a {
      display: block;
    }

    span {
      font-size: rem-calc(13);
      color: $gray-text-color;
    }
  }
}








/*==========  Mobile menu  ==========*/

#menu-modal {
  text-align: center;
  color: $white-text-color;
  ul.menu {
    margin: $section-padding * 2 0 0 0; padding: 0; list-style: none;

    li {
      margin: 0; padding: 0;
      font-size: rem-calc(30);
      
      a {
        &:hover { color: $white-text-color;}
      }
    }
  }
}

.reveal-modal, dialog { width: 100%; background: rgba(0, 0, 0, 0.9); border: 0;}
.reveal-modal.full, dialog.full { width: 100%;}





/*==========  Main menu  ==========*/


.main-nav {

  ul {
    margin: 0;
    margin-top: $section-padding * 1.5;
    list-style: none;
    

    li {
      float: left;
      // margin-left: $section-padding * 2;

      a {
        border: 1px solid transparent;
        font-size: rem-calc(20);
        padding: $section-padding / 2 $section-padding * 2;
        transition: all .2s ease-in-out; 

        &:hover {
          // border: 1px solid rgba($primary-color, .5);
          color: $white-text-color;
          background: $primary-color;
          border: 1px solid $primary-color;
        }
      }
    }

    li.active a {
      border: 1px solid $primary-color;
    }
  }

}





/*==========  bakgrunnsbilde  ==========*/


.head-wrap {
  background-image: url("../img_min/head-bg-small.jpg");
  @media #{$medium-up} {  background-image: url("../img_min/head-bg-large.jpg"); }
  background-size: cover;
}

body.single-prosjekt, body.post-type-archive-fagomrade, body.post-type-archive-prosjekt {
  .head-wrap {background: $black-bg;}
}

// body.post-type-archive-fagomrade .head-wrap {
//   background-image: url("../img_min/plan1-bg.jpg");
// }










/*==========  header page info  ==========*/

.header-page-info {
  color: $white-text-color;
  // background: black;
  padding: $section-padding 0 $section-padding 0;
  @media #{$medium-up} {padding: $section-padding * 2 0 $section-padding * 4 0; }
  @media #{$large-up} {padding: $section-padding * 6 0 $section-padding * 6 0; }

  // .columns {padding-right: 0;}
  h2 {color: $white-text-color; }
}

// Midtstille prosjekttittel
body.single-prosjekt .header-page-info {
  text-align: center;
  padding-bottom: $section-padding * 4;
  @media #{$medium-up} { padding-bottom: $section-padding * 8;}
  @media #{$large-up} { padding-bottom: $section-padding * 10;}
}


.hovednummer {
    font-size: rem-calc(52);
    @media #{$medium-up} { font-size: rem-calc(72);}
    

    text-align: center;
    color: $white-text-color;
    a { color: $white-text-color;}
  }

.header-page-image {
  // padding-top: $section-padding;
  background: $black-bg;
  img {width: 100%;}
}


// div.slant2 {
//   height: 0;
//   border-style: solid;
//   border-color: white white white black;
//   border-width: 0 0 2em 3em;
//   margin: 0 0 0 0.25em;
//   padding: 0;
//   float: right;
//   clear: right;
// }

// div.firstslant {
//   margin-top: 120px;
// }




// .vinkel {
//   position: absolute;
//   width: 100%;
//   display: block;
//   height: 410px;
//   top: 118px;
//   background: url("../img_min/vinkel.svg");
//   background-size: cover;
// }

// @media #{$large-up} {
//   .header-page-info {
//     background: none;
//   }

//   body.home .prosjekt {
//     margin-top: -310px;
//   }
// }









/*==========  prosjekter archive  ==========*/


.archive-prosjekt {

  @media #{$medium-only} {.row {max-width: none; }}
  @media #{$large-only} {.row {max-width: none; }}

  // article:nth-child(even) {background: $gray-bg; }
  article:nth-child(odd) {background-color: lighten($gray-bg, 0%); }

}

article.prosjekt-list-item {
  text-align: center;

  @media #{$xlarge-up} {
    text-align: left;
  }

  img {
    width: 100%;
  }

  .project-list-text {
    padding: $section-padding * 2 0 $section-padding * 3 0;
    @media #{$medium-up} { padding: $section-padding * 5 0;}

    @media #{$xlarge-up} {
      width: 50%;
      float: right;
      padding: $section-padding * 5 $section-padding * 5 0 $section-padding * 5;

      .columns {width: 100%; padding: 0; }
    } 
    // @media #{$xxlarge-up} {padding: $section-padding * 10 $section-padding * 10 0 $section-padding * 10;}
  }

  .project-list-image {
    background: black; // for overlay
    img {opacity: .6; transition: all 300ms ease-out; &:hover {opacity: 1;}}

      @media #{$xlarge-up} {
        width: 50%;
        float: left;
      }


      // img:hover {
      //     transition: all .3s ease-in-out;
      //     @media #{$medium-up} {margin-left: -20px;}
      // }
    }

    .prosjekt-details {
      font-size: rem-calc(12);
      @media #{$medium-up} { font-size: rem-calc(16);}
      @media #{$large-up} { font-size: rem-calc(20);}
      @media #{$large-up} {
        padding-bottom: $section-padding * 5;
      }
    }

  h1 {
    font-size: rem-calc(20);
    @media #{$medium-up} { font-size: rem-calc(36);}
    @media #{$large-up} { font-size: rem-calc(44);}
  }
}




body.single-prosjekt {
  @media #{$medium-up} {.project-list-text { padding: 0;}}
  .prosjekt-details {
    padding-bottom: $section-padding * 3;
    @media #{$medium-up} {padding-bottom: $section-padding * 4;}
  }

  // Overskriver half-size greiene på forsiden og artikkelsiden
  @media #{$xlarge-up} {
    .project-list-text {
      width: auto;
      padding: auto;
      float: none;
      text-align: center;
      .columns {
        width: 66.66667%;
        padding-left: rem-calc(16);
        padding-right: rem-calc(16);
      }
    }
  }
}







// For forsiden bare
body.home {
  article.prosjekt-list-item .project-list-text {
    @media #{$medium-only} { padding: $section-padding * 4 0;}
    @media #{$xlarge-up} {padding: $section-padding * 4 $section-padding * 4 0 $section-padding * 5; }
  }
  // article.prosjekt-list-item .prosjekt-details {padding-top: 0; padding-bottom: 0;}

  // article.prosjekt-list-item {
  //   .project-list-text, .project-list-image {
  //     width: auto; float: none;
  //   }
  // }

  article.prosjekt-list-item .p1-button-dark {
    margin-top: $section-padding * 2;
    @media #{$large-only} {margin-top: 0;}
    // @media #{$xlarge-up} {margin-top: 0;}
  }

}



/*==========  Om plan 1  ==========*/


.omplan1heading {


  h1 {
    text-transform: none;
    letter-spacing: 0;

    font-size: rem-calc(18);
    @media #{$medium-up} {font-size: rem-calc(32); }
    
    color: white;
  }
    p {
      font-size: rem-calc(14);
      padding-top: $section-padding;
        @media #{$medium-up} {
          max-width: 620px; // Lesbarhet yo!
          font-size: rem-calc(18);
        }
      }
    p.orgnr {
      @media #{$medium-up} { padding-bottom: $section-padding * 2;}
    }
    .button {
      margin-top: $section-padding;
    }
}


.fagomrade-list-image {
    background: black; // for overlay
    img { width: 100%; height: auto;}
}


.fagomrade-list-item {

  @media #{$small-only} { h1 {font-size: rem-calc(22);} }

  &:nth-child(odd) {background-color: $gray-bg; }
  .row {
    padding: $section-padding 0;
    @media #{$medium-up} {padding: $section-padding * 3 0; }
    @media #{$large-up} {padding: $section-padding * 6 0; }
  }
}



/*==========  fagomrader  ==========*/

.fagomrader .entry-summary {
  @media #{$medium-up} {
    margin-bottom: $section-padding;
  }
}





/*==========  Kontakt  ==========*/

.avdelinger {
  // background: $black-bg;
  color: $white-text-color;
  h1 { color: $white-text-color;}


  @media #{$medium-up} {padding-top: $section-padding * 2;}

  @media #{$medium-up} {text-align: center;}

  .avdeling {

    @media #{$small-only} {margin-bottom: $section-padding * 2; &:last-child {margin-bottom: 0;} }

    h1 { font-size: rem-calc(22);}

    span, a {
      display: block;
      font-style: normal;
      padding-bottom: $section-padding / 2;
    }


  }
  
  // @media #{$medium-up} { .avdelingen {min-height: 170px; }}
  
}


label.uwpqsf_class { display: none;}

#uwpqsf_id { border: 0;}


.ring-oss-label {
  display: block;
}


.orgfacts {

  font-size: rem-calc(13);

  @media #{$medium-up} {
      hr {
        display: none;
        margin: 0 auto; position: relative;
        max-width: 450px;
      }
  }

  // display: block;

  // padding: $section-padding * 2 0;

  @media #{$medium-up} {  padding-top: $section-padding * 2;}

  .row .columns div {
    margin-top: $section-padding * 2;
    padding-bottom: $section-padding;
    @media #{$medium-up} {
      padding-bottom: $section-padding * 2;
    }
  }
  span {
    display: block;
    padding-bottom: $section-padding / 2;
    @media #{$medium-up} {
        display: inline;
        &:after {
          content: " \02014 ";
        }
        &:last-child:after { content: "";}
    }
  }
}





/*==========  Ansatt  ==========*/

.ansatt {

  @media #{$small-only} {max-width: 300px;}

  margin-bottom: $section-padding;

  @media #{$large-up} {
    min-height: 100px;
  }

  .avatar img {
    height: 100px; width: 100px; border-radius: 100px;
    @media #{$large-up} {height: 80px; width: 80px; border-radius: 80px;}
    // border: 5px solid $gray-bg;
    float: left;
    margin-right: $section-padding;
  }

  h1.navn {
    font-size: rem-calc(16);
    padding-bottom: 0;
    margin-bottom: 0;
    padding-top: $section-padding / 1.5;
  }
  .stilling, .links {
    font-size: rem-calc(14);
  } 

  .links {
      margin-top: $section-padding / 2;
    }
}


.ansatte {
  margin: $section-padding * 2 0;
  input {margin-bottom: $section-padding * 2;}
}

.uwpqsf_class {
  text-align: center;

  #uwpqsf_id_key {
    background: url("../img_min/search.svg") 10px 10px no-repeat;
    padding-left: 35px;
    width: 100%;


  }
}




/*==========  Ledergruppen / OM oss  ==========*/


.omoss {

    @media #{$medium-up} {padding-bottom: $section-padding * 3; }


  hr {margin: $section-padding * 4 0; }

  .ledergruppen-heading {
    margin-bottom: $section-padding;
    @media #{$medium-up} { margin-bottom: $section-padding * 4;}
    text-align: center;
  }

  @media #{$small-only} {.clearfix .ansatt {margin-bottom: $section-padding * 4;} }

  .ansatt {
    max-width: none;
    margin-top: $section-padding;
    // margin-bottom: $section-padding * 6;
     text-align: center;
    .avatar img {
      float: none;
      margin: 0;

      border-radius: 220px; height: 220px; width: 220px;
    }
  }
}

hr.dark {border-color: #f2f2f2; }











/*==========  Footer  ==========*/

.mainfooter {
  background: $primary-color;
  padding: $section-padding 0;

  @media #{$medium-up} {
    text-align: center;
    padding: $section-padding * 4 0;
  }

  a {color: $white-text-color; &:hover {color: $black-text-color;}}

  ul#menu-footer-navigasjon {
    margin: 0; padding: 0; list-style: none;

    li {
      padding: 0;
      margin: 0 0 $section-padding 0;

      @media #{$medium-up} {
        display: inline-block;
        padding: 0 $section-padding;
        // margin-bottom: $section-padding * 2;
      }
    }
  }
}

.contact a {
  display: block;
  margin: 0 0 $section-padding 0;
  @media #{$medium-up} {
    display: inline-block;
    padding: 0 $section-padding;
  }

}


.intranet,
#footer .orgnr {
  color: $white-text-color;
  display: block;
  padding-top: $section-padding;
  // @media #{$medium-up} {padding-top: $section-padding * 2;}
  // opacity: .5;
  // font-size: 12px;
}

#footer .orgnr {
  margin: 0 0 $section-padding 0;
  @media #{$medium-up} {
    // margin-top: $section-padding;
  }
}
















/*==========  Foundation Media Queries - copy/paste from here if needed  ==========*/


@media #{$small-up} { }
@media #{$small-only} { }

@media #{$medium-up} { }
@media #{$medium-only} { }

@media #{$large-up} { }
@media #{$large-only} { }

@media #{$xlarge-up} { }
@media #{$xlarge-only} { }

@media #{$xxlarge-up} { }
@media #{$xxlarge-only} { }